.item-1 { background-color: #f94144; }
.item-2 { background-color: #f3722c; }
.item-3 { background-color: #f8961e; }
.item-4 { background-color: #f9844a; } 
.item-5 { background-color: #f9c74f; }
.item-6 { background-color: #90be6d; }
.item-7 { background-color: #43aa8b; }
.item-8 { background-color: #4d908e; }
.item-9 { background-color: #577590; }

.item {
  /* width: 100px; */
  /* height: 50px; */
  line-height: 50px;
  text-align: center;
}

.container { margin: 1px; display: grid; }

.container-1 {
  grid-template-columns: 1fr auto 3fr;
  grid-template-rows: 50px 2fr 3fr;
}

.container-2 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "header header header header"
   "main main . sidebar"
   "footer footer footer footer";
}

.container-2 .item-1 { grid-area: header; }
.container-2 .item-2 { grid-area: main; }
.container-2 .item-3 { grid-area: sidebar; }
.container-2 .item-4 { grid-area: footer; }