.item-1 { background-color: #f94144; }
.item-2 { background-color: #f3722c; }
.item-3 { background-color: #f8961e; }
.item-4 { background-color: #f9844a; } 
.item-5 { background-color: #f9c74f; }
.item-6 { background-color: #90be6d; }
.item-7 { background-color: #43aa8b; }
.item-8 { background-color: #4d908e; }
.item-9 { background-color: #577590; }

.item {
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.container { margin: 1px; display: flex; }

.container-1 { flex-direction: row-reverse; }
.container-2 { flex-direction: column; }
.container-3 {
  flex-wrap: wrap;
}

.container-3 .item { flex-grow: 4; }

.container-4 {
  flex-flow: row wrap;
  justify-content: center;
}

.container-5 {
  flex-flow: row wrap;
  justify-content: space-around;
}

.container-6 {
  flex-flow: row wrap;
  justify-content:space-between
}

.container-7 {
  flex-flow: row wrap;
  /* gap: 1px */
  row-gap: 1px;
  column-gap: 2px;
}